@import 'variables';
@import 'mixins';

.wrapper {
    background-color: $color-primary-dark;
    width: 100%;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    min-height: 50px;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }
}

@include tablet {
    .middle {
        flex: 70;
    }
    .left, .right {
        flex: 15;
    }
}