<mat-grid-list [cols]="columns" [rowHeight]="rowHeight">
    <mat-grid-tile routerLink="/portfolio" matRipple matRippleCentered="true">
        <mat-icon svgIcon="k_logo" color="accent"></mat-icon>
        <p>Portfolio</p>
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
    <mat-grid-tile matRipple matRippleCentered="true">
    </mat-grid-tile>
</mat-grid-list>
