@import 'mixins';

::ng-deep .mat-grid-tile .mat-figure {
    flex-direction: column;
}

p {
    margin: 0;
    margin-top: 10px;
    font-size: 2em;
}

mat-icon {
    height: 20%;
    width: auto;
}

mat-grid-list {
    margin: 0 auto;
    @include tablet-portrait-up {
        height: 100%;
    }
}

mat-grid-tile {
    outline: none;
    background-color: rgb(30, 30, 30);
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: rgb(60, 60, 60);
    }
}