@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

// Fonts
$font-stack: 'Roboto Slab', serif;

// Theme
$color-primary: #212121;
$color-primary-light: #484848;
$color-primary-dark: #000000;
$color-text: #FFFFFF;
