// Theme
$color-primary: #607D8B;
$color-primary-light: #CFD8DC;
$color-primary-dark: #455A64;
$color-text-icons: #FFFFFF;
$color-accent: #4CAF50;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-divider: #BDBDBD;