@import 'mixins';
@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.body {
    background-color: $color-primary-light;
    display: flex;
    padding: 10px;
    flex: 1 0 auto;
    flex-direction: column;
}

.left {
    order: -1;
}

@include tablet-landscape-up {
    .body {
        flex-direction: row; 
    }
}